
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Django static files
staticfiles/

# Django media files
media/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/